  @import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Poppins:wght@400;500;600;700&family=Roboto+Condensed:wght@200;300;400;500;600;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  font-family: 'Roboto Condensed', sans-serif;
  overflow-x: hidden;
  background-color: #FFF;
  /* background-color: #DCF2F1; */
  cursor: default;
}